/* .table{
  border: 1px solid black;
}
.table-cell{
  border: 1px solid black;
  background-color: rgb(209, 82, 167);
  width: 50px;
  height:25px;
}
.table-row{
  width:100px;
  height: 50px;
} */
.table-cell{
  border: 1px solid black;
}
.table-cell{
  width: 75px;
  height: 50px;
  background-color: aliceblue;
}
.col{
   width: 50px;
  height: 50px;
}
.table-row{
  width: 100px;
  height: 75px;
}
.App {
  text-align: center;
  background-color: rgb(190, 190, 190);
}
*{
  background-color: snow;
}
button{
  background-color:cornflowerblue;
  border: 3px solid black;
  padding: 10px;
  margin: 5px;
  
}
table{
  display: inline-table;
  border: 1px solid black;
  background-color:cornflowerblue;
}
span{
  background-color: rgb(190, 190, 190);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500px;
  font-size: 22px;
  font-stretch: extra-expanded;
}
select{
  border:2px solid black;
  background-color:rgb(160, 211, 255);
}
.color-select{
  background-color: rgb(190, 190, 190);
}
body{
  background-color:  rgb(190, 190, 190) ;
}